
<h1> Transcations </h1>

<% if current_auth.admin == true %>
	<%= link_to 'Issue Book' , new_transcation_path%> 

	<%= link_to "ReIssue" , reissuesearch_path %>
<% end %>

<br/>

<%= render 'transcations' %>

